<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel File Upload</title>
    <link href="{{ url_for('static',filename='assets/main.css') }}" rel="stylesheet"/>
</head>
<body>
    <h1>Upload CSV Files</h1>
    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file1"><br>
        <input type="file" name="file2"><br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>
