<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel File Upload</title>
    <link href="{{ url_for('static',filename='assets/main.css') }}" rel="stylesheet"/>
</head>
<body>
    <h1>Upload Excel Files</h1>
    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <h5>Physiology Data: </h5>
        <input type="file" name="physiology"><br>
        <h5>Power Curves: </h5>
        <input type="file" name="power_curves"><br>
        <input type="submit" value="Upload">
    </form>
    <div class="logo-bottom">
        <br/>
        <img src="{{ url_for('static', filename='images/auscyclinglogo.png') }}" alt="Logo">
    </div>
</body>
</html>
